<%= render "shared/menu" %>

<body>
  <div class="row">
    <p class='col-12'>Bulk Discount #<%= @discount.id %></p>
  </div>

  <p>Quantity Threshold: <b><%= @discount.threshold %></b></p>
  <p>Percentage Discount: <b><%= @discount.percent %>%</b></p>
  <p></p>
</body>